@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1.5fr 5fr;
    grid-template-areas: 
    "header header"
    "aside main";
}

header{
   /* background-color: rgb(1, 73, 70);*/
    background-color:#345b63 ;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #ffff;
    text-align: center;
    font-size: 1.5rem;
}

aside{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: flex-start;
    grid-area: aside;
    background-color: #152d35;
    /*background-color:  rgb(2, 36, 34);*/
    padding-top: 2em;
    padding-left: 2em;
}

ul{
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside ul li{
    color: #ffff;
    font-size: 1.20em;
}

main{
    display: flex;
    grid-area: main;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(190, 236, 233);
    height: 900px;
    width: 100%;
}

.imagem{
    width: 80%;
    height: 60%;
}

h2{
    width: 80%;
    color: rgb(10, 10, 10);
    font-size: 1.75em;
}

p{
    width: 80%;
    color: rgb(10, 10, 10);
    font-size: 1.2em;
}

aside ul li{
    position: relative;
    cursor: pointer;
}

aside ul li::before {
    content:" ";
    /*background-color:aqua;*/
    background-color: #ddf0e4;
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    left: 0px;
}

aside ul li:hover::before {
    width: 100%;

}

aside ul li:hover{
    color:aqua

}

p:hover{
    color:  rgb(10, 10, 10);

}
p:hover{
    opacity: 70%;
}
h2:hover{
    color: #ffff;
}
