@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto' sans-serif;
}

#banner{
    background: 
    linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
    url("../img/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#banner h1{
    color:rgb(34, 34, 110);
    font-weight: 700;
    font-size: 3rem;
}

#banner p{
    color: rgb(219, 111, 10);
    font-weight: 700;
    font-size: 1.5rem;
}

.avatar{
    width: 400px;
    height: 400px;
   border-radius: 200px;
}

.icon-box{
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 100px;
    background-color: rgb(219, 111, 10);
    text-align: center;
}

.icons-banner{
    font-size: 1.5rem;
    color: rgb(34, 34, 110);
}

.btn-primary{
    background-color: blue;
    border-radius: 25px;
}

.title-me{
    color:rgb(34, 34, 110);
    font-weight: 700;
    font-size: 2.5rem;
}

.photo-me{
    height: 500px;
    width: 400px;
    border-radius: 50px
}

.subtitle-me{
    color: rgb(219, 111, 10);
    font-weight: 500;
    font-size: 2rem;
}

.text-me{
    color:black;
    font-weight: 400;
    font-size: 1rem;
}

.title-projects{
    color:rgb(34, 34, 110);
    font-weight: 700;
    font-size: 2.5rem;
}

.projects{
    background-color: rgba(219, 111, 10, 0.616);
}

.skills-title{
    color:rgb(34, 34, 110);
    font-weight: 700;
    font-size: 2.5rem;
}

.card-skills{
    height: 100px;
    width: 100%;
    border:1px solid rgb(34, 34, 110);
    border-radius: 10px;
}

/*@media (max-width:768px){
    #banner h1{
        color:rgb(34, 34, 110);
        font-weight: 700;
        font-size: 2rem;
    }
}